@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Zilla Slab", serif;
  background-color: #111111;
  /* background-color: white; */
  color: #f5f5f5;
  /* background: url(/acakim-and-kids.jpg); */
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageFade {
  height: 105vh;
  background-color: rgba(17, 17, 17, 0.55);
  position: relative;
  z-index: 5;
}

/* horizontal divider */
/* 
.horizontalDivider {
  height: 20rem;
  position: absolute;
  width: 100vw;
}

.topHalf {
  background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
  height: 20rem;
  width: 100vw;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bottomHalf {
  background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
  height: 20rem;
  width: 100vw;
} */

/* navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > p {
  margin-left: 0.5rem;
  font-style: italic;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  font-size: 2rem;
  margin-right: 2rem;
}

li:hover {
  color: #111111;
}

ul > li:last-child {
  margin-right: 0;
}

/* hero */

.hero {
  background: linear-gradient(180deg, #111111 8.85%, rgba(17, 17, 17, 0) 100%);
  height: 100vh;
}

#heroVideo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  /* margin-bottom: 2rem; */
  margin-bottom: 0;
  margin-top: 0;
  /* -webkit-text-stroke: 2px #111111; */
}

.qualifications {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
}

.qualifications > span {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.qualifications > p {
  margin-top: 0;
  margin-bottom: 0;
}

/* about me */

.aboutMe {
  margin: 5rem 0;
  background: url(/sailing-map-9.png);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100vh;
}

.aboutContainer {
  display: flex;
  align-items: center;
}

.aboutText {
  flex: 1;
  margin-right: 10rem;
  line-height: 1.75rem;
}

.aboutText > h2 {
  font-size: 3rem;
}

.aboutText > p {
  font-size: 1.5rem;
}

.aboutText > p > span:first-of-type {
  font-weight: 700;
}

.aboutImage {
  flex: 1;
  object-fit: contain;
  position: relative;
  margin: 5rem 0;
}

/* #aboutImage {
  object-fit: contain;
} */

/* mobile styles */
@media screen and (max-width: 575px) {
  body {
    background-size: auto;
    width: 100vw;
  }

  .imageFade {
    height: 65vh;
  }

  .imageFade:last-child {
    height: 100vh;
  }

  /* navigation */

  nav {
    justify-content: space-evenly;
  }

  .logo > p {
    display: none;
  }

  li {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  /* hero */

  .hero {
    height: 65vh;
  }

  #heroVideo {
    position: absolute;
    top: 0;
    right: 0;
    height: 65vh;
    width: auto;
  }

  .heroText {
    height: 50vh;
    margin-top: 0rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }

  .qualifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.5rem;
    margin-top: 2rem;
  }
  .qualifications > span {
    /* display: none; */
    transform: rotate(90deg);
    margin: 1rem;
  }

  .qualifications > p {
    margin: 0.5rem;
  }

  /* about me */
  .aboutMe {
    margin: 0;
    background-size: cover;
  }

  .aboutContainer {
    flex-direction: column;
  }

  .aboutText {
    margin-right: 0;
  }
}
